<html lang="en">
    <head>
        <title>Email Template</title>
        <style>
            .header{
                padding: 2em 0;
                margin: 0 1em;
                border-bottom: 1pt solid grey;
            }
            .title{
                font-size: 1.5em;
            }
            .paragraph{
                line-height: 1.5em;
            }
            .span{
                padding: 1em 0;
                display: block;
            }
            .span-container{
                padding: 1em;
                color: #000000;
                background-color: #cccccc;
                border: 2pt solid black;
            }
            .main{
                padding: 1em;
                font-size: 1.25em;
            }
            .separator{
                border: none;
                border-top: 1px solid grey;
                min-width: 100%;
                margin: 2em 0;
            }
            .footer {
                background-color: black;
                color: white;
                margin: 0 1em;
                padding: 2em;
            }

        </style>
    </head>
    <body style="margin: 0">
        <div class="header">
            <div style="width: max-content; margin: auto; overflow: auto; clear: both">
                <img src="cid:logo" alt="This is the logo">
            </div>
        </div>
        <div class="main">
            <h1 class="title">A new request to process</h1>
            <p class="paragraph">
                Dear <span style="font-weight: bold">Administrator</span>, <br/>
                A new request has been received.
            </p>
            <p class="paragraph">Below you can find the details of your request</p>
            <hr class="separator"/>
            <div class="span-container">
                <span class="span">Name: <span>{{name}}</span></span>
                <span class="span">Surname: <span>{{surname}}</span></span>
                <span class="span">Email: <span>{{email}}</span></span>
                <span class="span">Phone: <span>{{phone}}</span></span>
                <span class="span">Message: <span>{{message}}</span></span>
            </div>
        </div>
        <div class="footer">
            <span style="line-height: 1.25em;display: block; text-align: center">This is a NO-REPLY email. Any message sent to this email will be automatically discarded</span>
            <span style="padding-top: 1.5em; font-style: italic;  text-align: center; font-size: 0.75em; display: block"><a href="https://oshot.uk">Oshot.uk</a> | Every Right Reserved &reg;</span>
        </div>
    </body>
</html>